@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(229, 222, 213);
}

.card {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


